*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: white;
    color: black;
}
#header{
    width: 100%;
    height: 100%;
    background: #222735;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #01EEFF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.post-header {
    width: 100%;
    height: 500px;
    background: #1a1a1a;
}
.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.back-home {
    color: white;
    font-size: 0.9rem;
}
.header-title{
    width: 90%;
    font-size: 2.6rem;
    color: #01EEFF;
    text-align: center;
    margin-bottom: 1rem;
}
.header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}
.post-content {
    margin-top: 10rem !important;
}
.sub-heading {
    font-size: 1.2rem;
}
.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;

}
.like-section{
    margin-left: 200px;
}
.like-btn {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.like-btn:hover {
    background-color: #555;
}

.like-count {
    color: red;
    margin-bottom: 10px;
}
.container1 {
    background: #fff;
    padding: 20px;
    font-family: monospace;
    width: 500px;
    box-shadow: 0 0 5px #000;
    margin:auto;
}

.head {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

.commentbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* float: left; */
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    margin-left: 20px;
    padding: 10px;
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.buttons > button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons > button.abled {
    background: blue;
    color: #fff;
}

.policy {
    margin: 20px 0;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    color: #808080;
}

.policy a {
    text-decoration: none;
    color: blue;
}

.notify {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.notify > input {
    margin-right: 5px;
    border: 2px solid #808080;
}

.parents {
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;

}

.engagements img:nth-child(1) {
    margin-right: 10px;
    width: 25px;
}

.date {
    color: #808080;
    font-size: 0.8em;
}

nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){

    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: white;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li a{
        color: white;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: white;
    }
}
@media (max-width: 1060px){

}
@media (max-width: 900px){
    .comment-box{
        width: 80%;
        margin: 5%;
    }
}
@media (max-width: 800px){
    .post-container{
        margin: 0 auto;
        width: 95%;
    }

}
@media (max-width: 768px){
    section{
        padding: 2rem 0;
    }
    .header-content {
        margin-top: 3rem !important;
    }
    .header-title {
        font-size: 2rem;
    }
    .header-img{
        height: 370px;
    }
    .post-header{
        height: 435px;
    }
    .post-content {
        margin-top: 9rem !important;
    }
}
@media (max-width: 570px){
    .post-header {
        height: 390px;
    }
    .header-title{
        width: 100%;
    }
    .header-img {
        height: 340px;
    }
}
@media (max-width: 570px){
    .post-header {
        height: 355px;
    }
    .header-title{
        font-size: 1.4rem;
    }
    .header-img {
        height: 240px;
    }
    .post-content{
        margin-top: 5rem !important;
    }
    .post-text{
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 10px 0;
    }
}